@font-face {
    font-family: 'expressoDolce-webfont';
    src: url("../assets/fonts/EspressoDolce.ttf") format('woff2'),
         url('../assets/fonts/EspressoDolce.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}