@import url("fonts.css");

:root {
  --font: "Montserrat", sans-serif;
    --background-header: rgb(232,228,227);
    --background-menu: #b3aca9;
    --text-dark: #211b18;
    --text-brown: #604c40;
    --link-color: #b3aca9;
    --dark-brown: #5c4839;
    --med-brown: #987864;
    --light-brown: #a48875;
    --beige-color: #c1aea7;
    --grey-color: #9f9292;
    --dark-grey: #766c6c;
    --span-color: #7394bc;
    --overlay-color: rgb(24,14,11);
    --white-color: #f1e9e5;

}    

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto; 
}

body {
  font-family: var(--font);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color:#211b18;
  text-decoration: none;
}

a:hover {
  color:#e6e2dd;
}

#container {
  min-height: 100vh;
 
}

/* Header */
.header {
  background-color: var(--background-header);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
  0 0 2px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.header-logo {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
}

.header-logo__img {
  max-width: 100%;
  height: auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  height: 9vh;
}

.header-nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-dark);
}

.header-nav__item {
  margin: 1rem;
}

.header-nav__link{
  font-size: 1rem;
  font-weight: 600;
}

.header-nav__link:hover{
  color: var(--link-color);
}

 /* Header media queries */
 @media (max-width: 668px) {
    .header-nav__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--background-menu);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.3s;
    }
    .header-nav__menu {
    flex-direction: column;
    z-index: 1;
    }
    .header-nav__menu.active {
    left: 0;
    top: 9.5rem;
    }
    .header-nav__item {
    margin: 1rem 0;
    }
    .header-nav__item:nth-child(1) {
    margin-top: 2.5rem;
    }
    .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
    padding-top: 2rem;
    }
    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    }
}
 @media (min-width: 768px) {
    .header {
    padding: 1rem;
    }
    .header-logo {
    padding: 1rem 1rem 0;
    }
    .header-nav {
    padding: 1rem 0 1rem 0;
    height: auto;
    }
    .header-nav__item {
    padding: 0;
    }  
    .header-nav__menu {
    flex-direction: row;
    }
    .header-nav__link {
    font-size: 1.125rem;
    }
    .header-nav__link:hover {
    border-bottom: 2px solid var(--link-color);
    }
}

@media (min-width: 1024px) {
    .header {
    flex-direction: row;
    padding: 2rem 5%;
    }  
    .header-logo {
    margin-left: 0;
    }
    .header-nav {
    margin-right: 0;
    }
    .header-nav__item {
    margin: 0;
    padding: .4375rem;
    }
}

@media (min-width: 1440px) {
    .header {
    padding: 1rem 3%;
    }
    .header-logo {
    margin-left: 1rem;
    }
    .header-nav {
    margin-right: 1rem;
    }
    .header-nav__item {
    margin: 7px;
    }
    .header-nav__link{
    font-size: 1.25rem;
    }
}

/* hero section index.html */
.hero {
  position: relative;   
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--overlay-color) 3%, transparent) left center/100% no-repeat;
}

.hero-overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.hero-overlay__title {
  font-size: 1.125rem;
  transform: translateY(7vw);
  color: var(--background-header);
  letter-spacing: .0625rem;
  width: 50%;
  margin-left: 1rem;
}

.hero-overlay__subtitle {
  font-size: .875rem;
  transform: translateY(10vw);
  color: var(--background-header);
  font-weight: 400;
  width: 43%;
  margin-left: 1rem;
}

.hero-overlay__btn {
  display: inline-block;
  cursor: pointer;
  transform: translateY(14vw);
  margin-left: .75rem;
  font-size: .8125rem;
  padding: .125rem .3125rem;
  color: var(--text-dark);
  background-color: var(--background-menu);
  border-radius: 0.3125rem;
  box-shadow: 0px 1px 3px 0.15px rgb(0 0 0 / 35%);
  margin: .5rem 0 0 .9375rem;
}

.hero-overlay__btn:hover {
	cursor: pointer;
	background-color: var(--background-header);
  color: var(--background-menu);
	transition: background-color 1s ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

.hero-image { 
  display: block;
  overflow: visible;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* hero media-queries */
@media (min-width: 768px) {
    .hero-overlay__title {
    transform: translateY(11vw);
    font-size: 3rem;
    padding: 1rem 0 0 2rem;
    }
    .hero-overlay__subtitle {
    transform: translateY(15vw);
    font-size: 1.625rem;
    padding: 1rem 0 0 2rem;
    width: 46%;
    }
    .hero-overlay__btn {
    transform: translateY(23vw);
    font-size: 1.125rem;
    margin-left: 3rem;
    padding: .3125rem .625rem;
    }
}
@media (min-width: 1024px) {
    .hero-overlay__title {
    font-size: 4rem;
    padding-left: 3.1875rem;
    }
    .hero-overlay__subtitle {
    font-size: 2rem;
    padding-left: 3.1875rem;
    }
    .hero-overlay__btn {
    font-size: 1.5rem;
    margin: 2rem 0 0 4rem;
    padding: 0.3125rem 0.625rem;
    }
}
@media (min-width: 1280px) {
    .hero-overlay {
    padding-top: 2rem;
    }
    .hero-overlay__title {
    font-size: 5rem;
    padding: 0 0 0 4rem;
    }
    .hero-overlay__subtitle {
    transform: translateY(16vw);
    font-size: 2.75rem;
    padding: 1rem 0 4rem 4rem;
    }
    .hero-overlay__btn {
    transform: translateY(15vw);
    font-size: 1.75rem;
    margin-left: 5rem;
    }
}
/* about section (index.html page) */
.about {
  background-color: var(--background-menu);
  padding: 1rem;
}

.about-container {
  width: 100%;
  padding: .5rem;
}

.about-container__content {
  width: 100%;
  padding: 1rem;
}

.about-container__title {
  width: 100%;
  font-size: 1.25rem;
  color: var(--text-dark);
  text-transform: uppercase;
}

.about-container__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  color: var(--text-dark);
  margin: 0px;
  padding-top: 10px;
}

.about-container__button {
  display: inline-block;
  cursor: pointer;
  font-size: .875rem;
  padding: .5rem 1rem;
  color: var(--text-dark);
  background-color: var(--background-menu);
  border-radius: .3125rem;
  box-shadow: 0px 1px 3px 0.15px rgba(0, 0, 0, 0.35);
  margin: 1rem 0;
}

.about-container__button:hover {
	cursor: pointer;
	background-color: var(--background-header);
  color: var(--background-menu);
  font-weight: bolder;
	transition: background-color 1s ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

.about-container__image--wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.about-container__item--top {
  grid-column: 1/ span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
  width: 66%;
  margin-right: 25%;
  padding-top: 62%;
  position: relative;
  z-index: 1;
}

.about-container__item--bottom {
  grid-column: 4/-1;
  grid-row: 1;
}

@media (min-width: 768px) {
    .about {
    padding: 2rem 5%;
    }
    .about-container {
    padding: 1rem;
    }
    .about-container--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    }
    .about-container__title {
    font-size: 1.5625rem;
    }
    .about-container__text {
    line-height: 1.4;
    padding: 0;
    margin-top: 1rem;
    }
    .about-container__button {
    font-size: 1rem;
    margin-top: 1rem;
    }
    .about-container__image--wrapper {
    grid-template-columns: repeat(9, 1fr);
    }
    .about-container__item--top {
    width: 70%;
    margin-right: 35%;
    padding-top: 55%;
    }
    .about-container__item--bottom {
    grid-column: 2/-1;
    grid-row: 1;
    }
}

@media (min-width: 1024px) {
    .about-container__text {
    font-size: 1.125rem;
    }
}
@media(min-width: 1280px) {
    .about {
    padding: 2rem 10%;
    }
    .about-container__title {
    font-size: 2rem;
    }
    .about-container__text {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: 2rem;
    }
    .about-container__button {
    font-size: 1.25rem;
    margin: 2.5rem 0;
    }
    .about-container__image--wrapper {
    grid-template-columns: repeat(12, 1fr);
    }
    .about-container__item--top {
    width: 70%;
    margin-right: 32%;
    padding-top: 66%;
    }
}

@media (min-width: 1440px) {
    .about-container--wrapper {
    grid-gap: 2.25rem;
    }
    .about-container__title {
    font-size: 2.75rem;
    }
    .about-container__text {
    font-size: 1.5rem;
    }
    .about-container__button {
    font-size: 1.5rem;
    }
}
@media (min-width: 1635px) {
    .about-container__title {
    font-size: 3rem;
    }
    .about-container__text {
    font-size: 1.75rem;
    line-height: 1.5;
    }
}
/* menu-page */
.menu{
  margin: 0 auto;
  background-color: var(--background-menu);
}

.menu-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-dark);
  padding-top: 2rem;
}

.menu-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-cards__item {
  display: flex;
  padding: 1rem;
}

.menu-card--wrapper {
  background-color: var(--background-header);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px #000(0, 0, 0, 0.25);
}

.menu-card__content {
  padding: 1rem;
}

.menu-card__title {
  color: var(--text-dark);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
}

.menu-card__text {
  color: var(--text-dark);
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0;   
}

.menu-card__bottom {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-card__item {
  width: 100%;
  color: var(--text-brown);
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

.menu-card__btn {
  display: flex;
  padding: .3125rem;
  cursor: pointer;
  width: 15%;
  justify-content: center;
  ;
}

.menu-card__btn:hover {
  background-color: var(--link-color);
  color: var(--white-color);
}

@media (min-width: 768px) {
    .menu-title {
    font-size: 1.5rem;
    padding-top: 3rem;
    }
    .menu-box {
    padding: 0 2rem;
    }
    .menu-cards__item {
    width: 50%;
    padding-top: 2rem;
    }
    .menu-card__title {
    font-size: 1.25rem;
    }
    .menu-card__text {
    font-size: 1.125rem;
    }
    .menu-card__item {
    font-size: 1.125rem;
    }
    .menu-card__btn {
    font-size: 1.125rem;
    padding: .5rem
    }
}

@media (min-width: 1280px) {
    .menu-title {
    font-size: 2rem;
    }
    .menu-cards {
    padding: 2rem 8%;
    }
    .menu-cards__item {
    width: 33.3333%;
    }
    .menu-card__title {
    font-size: 1.5rem;
    }
    .menu-card__text {
    font-size: 1.25rem;
    }
    .menu-card__item {
    font-size: 1.125rem;
    }
    .menu-card__btn {
    font-size: 1.25rem;
    }
}
/* reward-page */
.reward {
  background-color: var(--background-menu);
}

.reward-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-dark);
  padding-top: 2rem;
}

.reward-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.reward-box__text {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
}

.reward-box--wrapper {
  padding: 1rem 0;
  width: 100%;
}

.reward-table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 1.5rem;
}

tr:nth-of-type(odd) { 
  background: var(--background-header); 
}

th { 
  background: var(--dark-grey); 
  color: var(--text-dark); 
  font-weight: bold; 
  text-transform: uppercase;
}

td, th { 
  padding: 6px; 
  border: 1px solid var(--text-dark); 
  text-align: left; 
  font-size: 1rem;
  font-weight: 400;
}
.reward-box__bottom {
  padding: 1rem 0;
  }
  
.reward-box__terms {
  color: var(--text-dark);
  margin: 0;
  font-weight: 300;
  font-size: .75rem;
  font-style: italic;
}
/* reward-page media queries */
@media (min-width: 768px) {
    .reward-box {
    padding: 1rem 4rem;
    width: 80%;
    }
    .reward-box__table--wrapper {
    width: 100%;
    }
    .reward-title {
    font-size: 1.5rem;
    padding-top: 3rem;
    }
    .reward-box__text {
    font-size: 1.125rem;
    text-align: justify;
    }
    td, th {
    font-size: 1.0625rem;
    padding: 0.5rem;
    }
    .reward-box__bottom {
    width: 75%;
    }
    .reward-box__terms {
    font-size: 1rem;
    text-align: center;
    }
}

@media (min-width: 1024px) {
    .reward-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    }
    .reward-box__text {
    font-size: 20px;
    }
    .reward-box--wrapper {
    flex: 1 50%;
    padding-top: 2rem;
    }
    .reward-box__table--wrapper {
    flex: 1 50%;
    padding: 2rem 1rem;
    }
    .reward-table {
    margin-top: 0;
    }
    td, th {
    font-size: 1.125rem;
    padding: .375rem;
    }
}

@media (min-width: 1280px) {
    .reward-title {
    font-size: 2rem;
    }
    .reward-box {
    width: 85%;
    }
    .reward-box--wrapper {
    padding: 2rem 2rem 1rem 1rem;
    }
    .reward-box__table--wrapper {
    padding: 2rem;
    }
    .reward-box__text {
    font-size: 1.25rem;
    }
    td, th {
    padding: .625rem;
    }
}

@media (min-width: 1440px) {
    .reward-box--wrapper {
    padding: 2rem 2rem;
    }
    td, th {
    font-size: 1.25rem;
    padding: .75rem;
    }
}

@media (min-width: 1600px) {
    /* .reward-box--wrapper {
    padding: 2rem 6rem;
    } */
    .reward-box {
    align-items: center;
    width: 74%;
    }
    .reward-box--wrapper {
    padding: 2rem;
    }
    td, th {
    padding: 1rem;
    }
}

/* location page (location-page.html)*/
.location {
  margin: 0 auto;
  background-color: var(--background-menu);
}

.location-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.location-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-dark);
  padding-top: 2rem;
}

.location-box__title {
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.location-box--wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
}

.location-box__container {
  padding: 1rem;
  width: 100%;
}

.location-box__container--wrapper {
  padding: 0.5rem 0;
}

.location-box__text {
  font-size: .9375rem;
  color: var(--text-dark);
  line-height: 1.5;
}

/* location-page.html media query */
@media (min-width: 768px) {
    .location-box {
    padding: 1rem;
    }  
  .location-box__content {
    width: 60%;
    }
    .location-box--wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
    margin-top: 2rem;
    }
    .location-box__image--wrapper {
    max-width: 90%;
    }
    .location-box__container {
    padding: 0;
    }
    .location-box__text {
    line-height: normal;
    }
}
@media (min-width: 1024px) {
    .location-box--wrapper {
    padding: 1rem;
    }
    .location-box__container--wrapper {
    padding: 1rem 0;
    }
    .location-box__title {
    font-size: 1.125rem;
    }
    .location-box__text {
    font-size: 1.0625rem;
    }
}
@media (min-width: 1280px) {
    .location-title {
    font-size: 2rem;
    }
}
@media (min-width: 1440px) {
    .location-box__title {
    font-size: 1.5rem;
    }
    .location-box__text {
    font-size: 1.25rem;
    line-height: 1.4;
    }
    .location-box__content {
    padding: 0 1rem;
    }
}
/* gallery-page */
.gallery {
  margin: 0 auto;
  background-color: var(--background-menu);
}

.gallery-title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-dark);
  padding-top: 2rem;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.gallery-img--wrapper {
  padding-top: 1rem;
}

.gallery-img:hover {
  transform: scale(1.1, 1.1);
}

/* gallery-page media queries */
@media (min-width: 768px) {
    .gallery-title {
    font-size: 1.5rem;
    padding-top: 3rem;
    }
    .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 3rem;
    }
    .gallery-img--wrapper {
    padding: 0;
    }
}
@media (min-width: 1280px) {
    .gallery-title {
    margin: 0;
    padding-top: 3rem;
    font-size: 2rem;
    }
    .gallery-wrapper {
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 6rem;
    }
}
/* review-page.html */
.review {
  background-color: var(--background-menu);
  padding: 1rem;
}

.review-title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-box__title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-dark);
  padding-top: 2rem;
}

.review-box {
  width:100%;
  padding: 1rem;
}

.review-box__subtitle {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.review-box__text {
  font-size: .9375rem;
  font-weight: 400;
  padding: 0.5rem 0;
  line-height: 1.25rem;
}

.review-box__container {
  padding: .625rem;
}

.review-box--wrapper {
  box-shadow: 0px 1px 3px 0.15px rgba(0, 0, 0, 0.35);
  background-color: var(--background-header);
  padding: 1.25rem;
  margin: 1rem 0;
  cursor: pointer;
  width: 100%;
}

.review-box__heading {
  font-size: 1rem;
  font-weight: 400;
}

.review-box__subtext{ 
  font-size: .875rem;
  font-weight: 400;
}

.review-box__content {
  font-size: .9375rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.review-box__small {
  font-size: .875rem;
  font-weight: 400;
}

.review-box__list {
  list-style: none;
}

.review-box__item {
  font-size: .875rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.review-box__table--item {
  font-size: .875rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

.review-aside {
  background-color: var(--background-menu);
  width: 100%;
  padding: 1rem;
}

.review-aside__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-aside__box--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.review-aside__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  padding: 1rem;
}

/* review-page media queries */
@media (min-width: 768px) {
    .review {
    padding: 0 2rem;
    }
    .review-box__title {
    font-size: 1.5rem;
    padding-top: 3rem;
    }
    .review-box {
    padding: 2rem;
    }
    .review-container {
    justify-content: center;
    }
    .review-container--wrapper {
    padding: 1rem;
    width: 75%;
    }
    .review-container__text {
    font-size: 1rem;
    }
    .review-box__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    }
    .review-box__text {
    padding-bottom: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
    }
    .review-box__content {
    font-size: 1rem;
    }
}

@media (min-width: 1280px) { 
    .review {
    width: 100%;
    }
    .review-box {
    width: 100%;
    }
    .review-box__title {
    font-size: 2rem;
    }
    .review-box__heading {
    font-size: 1.125rem;
    }
    .review-box__small {
    font-size: 1rem;
    }
    .review-box__subtitle {
    font-size: 1.25rem;
    }
    .review-container {
    justify-content: center;
    }
    .review-container--wrapper {
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    }
    .review-container__text {
    font-size: 1.125rem;
    }
    .review-container__name {
    font-size: 1.125rem;
    }
    .review-box--wrapper {
    padding: 2rem;
    width: 100%;
    }
    .review--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;
    justify-items: center;
    }
    .review-box__container {
    padding: 2rem;
    width: 100%;
    }
    .review-box__table--item {
    font-size: 1rem;
    padding: 1rem;
    }
}
/* contact-form contact-page.html */
#contact {
  background-color: var(--background-menu);
  padding: 1rem;
}

.contact-box__title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-dark);
  padding-top: 2rem;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.contact-box__left {
  width: 100%;
  padding: 1rem;
}

.contact-box__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.contact-box__content {
  margin: 10px;
  cursor: pointer;
}

.contact-box__right {
  width: 100%;
  background-color: var(--background-header);
  padding: 8% 5% 10% 5%;
}

.contact-form__label {
  top: 10px;
  left: 2%;
  color: var(--grey-color);
  font-size: .875rem;
  pointer-events: none;
  user-select: none;
}

.contact-form__input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 1rem;
}

.contact-form__label--btn {
  background-color: var(--background-menu);
  filter: drop-shadow(2px 2px 3px #0003);
  color: var(--white-color);
  font-size: .875rem;
  display: block;
  padding: 0.75rem 1.25rem;
  margin: .125rem auto;
  border: none;
  cursor: pointer;
}

.contact-form__label--btn:hover {
  transform: scale(1.1, 1.1);
}

.contact-form__label--btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

/* contact-page media queries */
@media (min-width: 768px) {
    .contact-box {
    display: flex;
    flex-wrap:nowrap;
    padding: 2rem;
    }
    .contact-box__right {
    padding: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .contact-box__title {
    font-size: 2rem;
    }
    .contact-box {
    width: 70%;
    }
    .contact-social__link {
    font-size: 1.25rem;
    padding-right: 1rem;
    }
    .contact-box__right {
    width: 80%;
    }
    .contact-box__left {
    width: 80%;
    }
}

/* footer */
.footer {
	width: 100%;
	background: var(--background-header);
	display: flex;
  flex-direction: column;
	width: 100%;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 1rem 1rem 0;
}

.footer-items {
	padding: .5rem 1rem;
	color: var(--text-color);
  line-height: 1.75;
}

.footer-items__title {
	color: var(--text-dark);
  font-size: 1.25rem;
}

.footer-items span {
  color: var(--span-color);
  font-size: .9375rem;
  font-style: italic;
}

.footer-items__content{
	list-style: none;
	color: var(--text-dark);
	font-size: .875rem;
  padding: 1rem 0;
}

.footer-items__content a {
	text-decoration: none;
	outline: none;
	color: var(--text-dark);
  font-size: 1rem;
}

.footer-items__content a:hover {
	color: var(--link-color);
}

.footer-items__list {
  margin-block-end: .625rem;
  font-size: 1rem;
}

.footer-items__list i {
	margin-right: .625rem;
}

.footer-items__text {
  font-size: 1rem;
}

.social-media {
	width: 100%;
	color: var(--text-dark);
	font-size: 20px;
  margin-left: -0.9375rem;
  display: flex ;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 1.5625rem;
	width: 1.5625rem;
	margin: 1.25rem .625rem;
	padding: .25rem;
	color: var(--text-dark);
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
	padding: 0 .625rem;
	color: var(--text-dark);
	font-size: 12px;
}

.footer-bottom p {
  padding: .625rem;
}

/* footer media queries */
@media (min-width: 768px) {
    .footer {
    flex-direction: row;
    flex-wrap: wrap;
    }
    .footer-items {
    line-height: normal;
    width: 100%;
    padding: 0;
    }
    .footer-items__logo {
    width: 75%;
    }
    .footer-items__top {
    width: 75%;
    }
    .inner-footer {
    display: flex;
    width: 97%;
    padding: 3rem 2rem;
    }
    .footer-items__title {
    margin-block-end: 1rem;
    font-size: 1.125rem;
    }
    .footer-items__content a {
    font-size: 1rem;
    }
}
@media (min-width: 1024px) {
    .footer-items__title {
    font-size: 1.375rem;
    }
    .footer-items__logo {
    width: 100%;
    padding-left: 2rem;
    };
    .footer-items__top {
    width: 78%;
    }
    .footer-items span {
    font-size: 1.125rem;
    }
    .footer-items__content a {
    font-size: 1.125rem;
    }
    .footer-items__text {
    font-size: 1.125rem;
    }
    .footer-items__list {
    font-size: 1.125rem;
    }
    .footer-bottom p {
    font-size: 1rem;
    }
}
@media (min-width: 1280px) {
    .footer-items__title {
    font-size: 1.5rem;
    }
    .footer-items__logo {
    padding-left: 2rem;
    }
    .footer-items__top {
    width: 80%;
    }
    .footer-items span {
    font-size: 1.25rem;
    }
    .footer-items__text {
    font-size: 1.25rem;
    }
    .footer-items__list {
    font-size: 1.25rem;
    }
    .footer-items__content a {
    font-size: 1.25rem;
    }
    .social-media{
    display: inline;
    }
}

