
:root {
    --background-header: rgb(232,228,227);
    --background-menu: #b3aca9;
    --text-dark: #211b18;
    --text-brown: #604c40;
    --link-color: #b3aca9;
    --dark-brown: #5c4839;
    --med-brown: #987864;
    --light-brown: #a48875;
    --beige-color: #c1aea7;
    --grey-color: #9f9292;
    --dark-grey: #766c6c;
    --span-color: #7394bc;
    --overlay-color: rgb(24,14,11);

    --h1-font-mobile: 1rem;
    --h1-font-tablet: 2.5rem;
    --h1-font-desktop: 2.5rem;
    --h2-font-size: 1.5rem;
}    

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto; 
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color:#211b18;
  text-decoration: none;
}

a:hover {
  color:#e6e2dd;
}

/* Header */
.header {
  background-color: var(--background-header);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
  0 0 2px rgba(0, 0, 0, 0.07);
}

.header-logo {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
}

.header-logo__img {
  max-width: 100%;
  height: auto;
}

/* .header-bar__logo {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 0;
} */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  height: 6vh;
    /* padding: 1rem 1.5rem; */
}

.header-nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-dark);
}

.header-nav__item {
  margin: 1rem;
}

.header-nav__link{
  font-size: 1rem;
}

.header-nav__link:hover{
  color: var(--link-color);
}

 /* Header media queries */
 @media (max-width: 668px) {
    .header-nav__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--background-menu);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.3s;
    }
    .header-nav__menu {
    flex-direction: column;
    z-index: 1;
    }
    .header-nav__menu.active {
    left: 0;
    top: 11rem;
    }
    .header-nav__item {
    margin: 1rem 0;
    }
    .header-nav__item:nth-child(1) {
    margin-top: 2rem;
    }
    .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
    padding-top: 2rem;
    }
    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
}
 @media (min-width: 768px) {
    .header {
    padding: 1rem;
    }
    .header-logo {
    padding: 1rem 1rem 0;
    }
    .header-nav {
    padding: 1rem 0 1rem 0;
    height: auto;
    }
    .header-nav__item {
    padding: 0;
    }  
    .header-nav__menu {
    flex-direction: row;
    }
    .header-nav__link:hover {
    border-bottom: 2px solid var(--link-color);
    }
}

@media (min-width: 1024px) {
    .header {
    flex-direction: row;
    padding: 2rem 5%;
    }  
    .header-logo {
    margin-left: 0;
    }
    .header-nav {
    margin-right: 0;
    }
    .header-nav__item {
    margin: 0;
    padding: .4375rem;
    }
    .header-nav__link{
    font-size: 1.125rem;
    }
}

@media (min-width: 1440px) {
    .header {
    padding: 1rem 3%;
    }
    .header-logo {
    margin-left: 1rem;
    }
    .header-nav {
    margin-right: 1rem;
    }
    .header-nav__item {
    margin: 7px;
    /* font-size: 1.125rem; */
    }
    .header-nav__link{
      font-size: 1.17rem;
    }
}
/* hero section index.html */
.hero {
    position: relative;   
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--overlay-color) 3%, transparent) left center/100% no-repeat;
}

.hero-overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.hero-overlay h1 {
  font-size: var(--h1-font-mobile);
  transform: translateY(13vw);
  color: var(--background-header);
  letter-spacing: .125rem;
  font-weight: 700;
  width: 50%;
  margin-left: 1rem;
}

.hero-overlay h2 {
  font-size: .75rem;
  text-align: left;
  transform: translateY(18vw);
  color: var(--background-header);
  letter-spacing: .25rem;
  font-weight: 700;
  width: 50%;
  margin-left: 1rem;
}

.hero-overlay__btn {
  display: inline-block;
  transform: translateY(20vw);
  margin-left: .75rem;
  font-size: .75rem;
  padding: .125rem;
  color: var(--text-dark);
  background-color: var(--background-menu);
  border-radius: .3125rem;
  box-shadow: 0px 1px 3px 0.15px rgba(0, 0, 0, 0.35);
  margin: .5rem 0 0 .9375rem;
}
.hero-overlay__btn:hover {
	cursor: pointer;
	background-color: var(--background-header);
  color: var(--text-dark);
  font-weight: bolder;
	transition: background-color 1s ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}
.hero-image { 
  display: block;
  overflow: visible;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* hero media-queries */
@media (min-width: 768px) {
  .hero-overlay h1 {
  font-size: var(--h1-font-tablet);
  padding: 1rem 0 0 2rem;
  }
  .hero-overlay h2 {
  font-size: var(--h2-font-size);
  padding: 1rem 0 0 2rem;
  /* width: 60%; */
  }
  .hero-overlay__btn {
  font-size: 1rem;
  padding: .25rem;
  margin-left: 3rem;
  }
}
@media (min-width: 1024px) {
  .hero-overlay h1 {
  font-size: 3rem;
  padding-left: 3.1875rem;
  }
  .hero-overlay h2 {
  font-size: var(--h2-font-size);
  padding-left: 3.1875rem;
  /* width: 60%; */
  }
  .hero-overlay__btn {
  font-size: 1.25rem;
  padding: .25rem;
  margin: 2rem 0 0 4rem;

  }
}
@media (min-width: 1280px) {
  .hero-overlay {
  padding-top: 2rem;
  }
  .hero-overlay h1 {
  font-size: 5rem;
  padding: 0 0 0 4rem;
  }
  .hero-overlay h2 {
  font-size: 2.5rem;
  padding: 1rem 0 4rem 4rem;
  width: 45%;
  }
  .hero-overlay__btn {
  font-size: 1.5rem;
  padding: .3125rem;
  margin-left: 5rem;
  }
}
/* about section (index.html page) */
.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.image-stack__item-top {
  grid-column: 1/ span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}

.image-stack__item-bottom {
  grid-column: 4/-1;
  grid-row: 1;
 
}

.image-stack::after {
  content: "";
  display: table;
  clear: both;
}

.image-stack__item-top {
  float: left;
  width: 66%;
  margin-right: 25%;
  padding-top: 35%;
  position: relative;
  z-index: 1;
}
.about {
  background-color: var(--background-header);
  padding: 1rem;
}

.about-title {
  text-align: center;
}
.about-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.about-box--wrapper {
  /* flex: 1 1 45rem; */
  width: 100%;
}

.about-box__content {
  /* flex: 1 1 45rem; */
  padding: 1rem 0;
  width: 100%;
}

.about-box__content p {
  font-size: .875rem;
  color: var(--text-color);
  padding: 1rem 0;
  line-height: 1.8;
  text-align: justify;
}

.about-box__btn {
  display: inline-block;
  cursor: pointer;
  font-size: .75rem;
  padding: .5rem 1rem;
  color: var(--text-dark);
  background-color: var(--background-menu);
  border-radius: .3125rem;
  box-shadow: 0px 1px 3px 0.15px rgba(0, 0, 0, 0.35);

}

.about-box__btn:hover {
	cursor: pointer;
	background-color: var(--background-header);
  color: var(--text-dark);
  font-weight: bolder;
	transition: background-color 1s ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

@media (min-width: 768px) {
  .about {
  padding: 2rem 5%;
  }
  .about-box {
    flex-direction: column;
    padding: 1rem 0;
  /* flex-wrap: nowrap; */

  /* align-items: flex-start; */
  }
  .about-box--wrapper {
  /* flex: 1 1 50%; */
  margin: 1rem 0;
  /* padding-top: 2.5rem; */
  }

  .about-box__content p {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  }
  .about-box__btn {
  /* margin-top: 2rem; */
  padding: .5rem 1rem;
  font-size: 1rem;
  margin-left: .75rem;
  }
  /* .image-stack {
  bottom: 1.5rem;
  } */
  .image-stack__item-top {
    width: 66%;
    margin-right: 25%;
    padding-top: 54%;
  }
}
@media(min-width: 1280px) {
  .about {
  padding: 2rem 10%;
  }
  .about-box {
    flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem 0;
  /* align-items: flex-start; */
  }
  .about-box--wrapper {
  flex: 1 1 50rem;
  padding-top: 2.5rem;
  margin-right: 2rem;
  }
  .about-box__content {
  flex: 1 1 50rem;
  padding-left: 1rem;
  }
  .about-box__content p {
  font-size: 1.25rem;
  }
  .about-box__btn {
  margin-top: 2rem;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .about {
  padding: 2rem 15%;
  }
  .about-box {
  flex-wrap: nowrap;
  align-items: flex-start;
  }
  .about-box--wrapper {
    padding-top: 2.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .image-stack {
    bottom: 0;
  }
  .image-stack__item-top {
    margin-right: -48%;
    padding-top: 76%;
  }
  .about-box__content {
    margin-top: 1rem;
  }
  .about-box__content p {
  font-size: 1.5rem;
  line-height: 1.4;
  }
  .about-box__btn {
  margin-top: 2rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  }
  .image-stack__item-bottom {
    grid-column: 1/-3;
  }
}

.container {
  width: 100%;
  padding: 1rem;
}

.container-content {
    width: 100%;
  padding: 1rem;
 


}

.container-content__title {
  text-align: left;
  width: 100%;
  font-size: 40px;
  color: var(--text-dark);
  font-weight: bold;
  text-transform: uppercase;
}

.container-content__text {
  font-size: .875rem;
  width: 100%;
  /* float: left; */
  color: var(--text-dark);
  margin: 0px;
  padding-top: 10px;
}

.container-content__btn {
  width: 100%;
    float: left;
    font-size: 14px;
    background-color: #252525;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    margin: 1rem 0 2rem 0;
    box-shadow: 0px 45px 70px rgb(0 0 0 / 24%);
}

@media (min-width: 768px) {
  .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
  }
  .container-content__title {
    font-size: 1.5rem;
  }
  .container-content__text {
    font-size: 1rem;
  }
  .container-content__btn {
    width: 175px;
    float: left;
    padding-top: 10px;
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .container-content__title {
    font-size: 2.5rem;
  }
  .container-content__text {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .container-content__btn {
    font-size: 1.25rem;
  }
}

/* contact-form contact-page.html */
.contact {
  margin: 0 auto;
  background-color: var(--background-menu);
}

.contact-title {
  padding: 1rem 0 0;
  font-size: 1rem;
  text-align: center;
}

.contact-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1rem 0; */
}

.contact-form {
  /* background: #F9F9F9; */
  padding: 0 1rem;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.contact-form__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.contact-social__link {
  color: var(--text-dark);
  font-size: 1.5rem;
  padding: 1rem;
}

.contact-form__label {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact-form__input {
  width: 100%;
  border: 1px solid #ccc;
  background: var(--bg-light);
  margin: 0 0 5px;
  padding: 10px;
  font-size: .875rem;
}

.contact-form__input:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.contact-form__input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.contact-form__button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--background-menu);
  color: var(--text-dark);
  text-transform: uppercase;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.contact-form__button:hover {
  background: var(--link-color);
  color: var(--bg-light);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact-form__button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact-wrapper {
  padding: 1rem;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  margin-bottom: 1rem;
}


/* contact-page media queries */
@media (min-width: 768px) {
  .contact-title {
    font-size: 1.5rem;
    padding: 3rem 0 0;
    }
  .contact-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 10%;
    }
    .contact-form {
    padding: 0 10%;
    }
    .contact-form__social {
    width: 60%;
    }
    .contact-form__input {
    font-size: .9375rem;
    }
    .contact-form__button{
    margin-top: 1.75rem;
    }
    .contact-wrapper {
    margin: 1rem 0;
    padding: 1rem 10%;
    }
}

@media (min-width: 1280px) {
  /* .contact-box {
  flex-direction: row;
  } */
  .contact-form {
    max-width: 70%;
  }
  .contact-wrapper {
    max-width: 50%;
  /* display: flex;
  margin-bottom: 0;
  margin-right: 1rem; */
  }
}

/* review-page.html */
.review-container {
  display: flex;
  width:100%;
}

.review-container--wrapper {
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 1rem;
  cursor: pointer;
  width: 100%;
}

.review-container__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: .625rem;
  width: 100%;
}

.review-container__profile{
  display: flex;
  align-items: center;
  margin: 0;
}

.review-container__profile--wrapper {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.review-container__image{
  max-width: 100%;
  height: auto;
}

.review-container__name{
  display: flex;
  flex-direction: column;
}
.review-container__icons {
  margin: 0;
}
.review-container__text {
margin: 0;
}

/* review-page media queries */
@media (min-width: 768px) {
  .album {
    padding: 3rem;
  }
  .review-container--wrapper {
    padding: 1rem;
  }
}
@media (min-width: 1280px) { 
  .album {
    width: 100%;
  }
  .album-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .review-container--wrapper {
    width: 80%;
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
}
/* menu-page */
.menu{
  margin: 0 auto;
  background-color: var(--background-menu);
}

.menu-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-dark);
  padding-top: 2rem;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-cards__item {
  display: flex;
  padding: 1rem;
}

.menu-card--wrapper {
  background-color: var(--background-header);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px #000(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.menu-card__content {
  padding: 1rem;
}

.menu-card__title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.menu-card__text {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.menu-card__btn {
  color: var(--text-color);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #000;
  background: transparent;
}

.menu-card__btn:hover {
  background-color: var(--link-color);
  color: white;
}

@media (min-width: 768px) {
  .menu-title {
  font-size: 1.5rem;
  padding-top: 3rem;
  }
  .menu-cards__item {
  width: 50%;
  padding-top: 2rem;
  }
  .menu-card__title {
  font-size: 1.25rem;
  }
  .menu-card__text {
  font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .menu-titl {
  font-size: 2rem;
  }
  .menu-cards {
  padding: 2rem 8%;
  }
  .menu-cards__item {
  width: 33.3333%;
  }
  .menu-card__title {
  font-size: 1.5rem;
  }
}


/* footer */
.footer {
	width: 100%;
	background: var(--background-header);
	display: flex;
  flex-direction: column;
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 1rem 1rem 0;
}

.footer-items {
	padding: .5rem 1rem;
	color: var(--text-color);
  line-height: 1.75;
}

.footer-items h3 {
	color: var(--text-dark);
}

.footer-items span {
  color: var(--span-color);
}

ul {
	list-style: none;
	color: var(--text-dark);
	font-size: .875rem;
	letter-spacing: 1px;	
}

ul a {
	text-decoration: none;
	outline: none;
	color: var(--text-dark);
	transition: 0.3s;
}

ul a:hover {
	color: var(--link-color);
}

ul li {
  margin-block-end: .625rem;
}

li i {
	margin-right: .625rem;
}

.social-media {
	width: 100%;
	color: var(--text-dark);
	font-size: 20px;
  margin-left: -0.9375rem;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: var(--text-dark);
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
	padding: 0 .625rem;
	color: var(--text-dark);
	font-size: 12px;
}

.footer-bottom p {
  padding: .625rem;
}

/* footer media queries */
@media (min-width: 768px) {
    .footer {
    flex-direction: row;
    flex-wrap: wrap;
    }
    .inner-footer {
    display: flex;
    }
    .footer-items h3 {
    margin-block-end: 1rem;
    }
}